* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: translate(0, -5%);
}

.currentTime {
    font-size: 11rem;
    font-weight: bold;
}

.greet-user {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.main_focus h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.focus {
    background: transparent;
    color: #fff;
    width: 100%;
    margin-top: 1.7rem;
    padding: 0.8rem;
    font-size: 1.7rem;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #fff;
    text-align: center;
    outline: none;
}

.quote {
    width: 90%;
    position: fixed;
    bottom: 5px;
    font-size: 1.3rem;
    font-style: italic;
}

@media screen and (max-width: 575px) {
    .currentTime {
        font-size: 5rem;
    }
    .greet-user {
        font-size: 1.7rem;
    }
    .main_focus h3 {
        font-size: 1.4rem; 
    }
    .quote {
        font-size: 0.8rem;
        margin-top: 10px;
    }
}

@media screen and (max-width: 370px) {
    .main_focus h3 {
        font-size: 1.2rem;
        text-align: center;
    }
}